/*
 * FIREFOX EXPLORER by Jessebot (sawfishswordstaff, the Copyright Proprietor)
 * ---
 * LICENSED under BSD Zero Clause license 
 * 
 * OPTIONS:
 * - TO TURN OFF BOOKMARKS TOOLBAR, under #PersonalToolbar and delete the line you see below
 * 
 *       display: none !important;

* OR YOU HIDE BOOKMARKS BAR UNDER LIBRARY >
 */

:root {
    --bg-main: #fff;
    --fg-main: #000;
    --bg-secondary: #EFEFEF;
    --bg-tab-inactive: #ccc;
    --bg-tab-inactive-hover: #e6e6e6;
    --bg-tab-active-hover: #e6e6e6;
    --tab-toolbar-navbar-overlap: 0px !important;
    --tab-min-height: 23px !important;
    --tab-min-width: 50px !important;
    --nav-bar-height: 40px !important;
}

#navigator-toolbox {
    border: none !important;
}

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
    -moz-box-ordinal-group: 10;
}

#main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
    padding-bottom: var(--tab-min-height) !important;
}

#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
    width: 100vw !important;
}

#TabsToolbar {
    background-color: var(--toolbar-bgcolor) !important;
    display: block !important;
    -moz-box-ordinal-group:1000 !important;
}

#TabsToolbar:not(.toolbar-items) {
    display: flex !important;
    justify-content: flex-end !important;
    background-color: var(--bg-main) !important;
    border: none !important;
    color: var(--fg-main) !important;
}

#PersonalToolbar {
    background: var(--bg-main) !important;
    color: var(--fg-main) !important;
    
    /* delete the line below to show bookmarks toolbar */
    display: none !important;
}

.toolbar-items {
    background: linear-gradient(to bottom, var(--bg-main), var(--bg-secondary)) !important;
    color: var(--fg-main) !important;
    position: absolute !important;
    bottom: 0 !important;
    width: 100vw !important;
    display: block !important;
}

.titlebar-spacer {
    display: none !important;
}

.tab-content {
    background: var(--bg-main) !important;
    border: none !important;
    border-top: 1px solid grey !important;
    color: var(--fg-main) !important;
}

.tab-content:hover {
    background: var(--bg-tab-inactive-hover) !important;
}

.tabbrowser-tab:not([selected=true]) .tab-content {
    background: var(--bg-tab-inactive) !important;
}

.tabbrowser-tab:not([selected=true]) .tab-content:hover {
    background: var(--bg-tab-active-hover) !important;
}

#nav-bar {
    background: var(--bg-main) !important;
    color: var(--fg-main) !important;
    box-shadow: none !important;
    border-top: none !important;
    height: var(--navbar-height) !important;
}

#urlbar {
    border: 1px solid grey !important;
}

#urlbar:hover, #searchbar:hover {
    box-shadow: none !important;
}

#urlbar, #urlbar-background {
    background: #fff !important;
    color: #000 !important;
}

#searchbar {
    background: var(--bg-main) !important;
    border: 1px solid grey !important;
    color: var(--fg-main) !important;
}

.toolbarbutton-icon {
    fill: grey !important;
}

.toolbarbutton-animatable-box, .toolbarbutton-1 {
    fill: none !important;
}

#back-button {
    padding: 0 !important;
}

#back-button .toolbarbutton-icon {
    background: #0284C3 !important;
    fill: var(--bg-main) !important;
    min-height: var(--navbar-height) !important;;
    height: var(--navbar-height) !important;
    min-width: var(--navbar-height) !important;
    width: var(--navbar-height) !important;
    margin-left: 5px;
    padding: 8px !important;
}

#back-button[disabled=true] .toolbarbutton-icon {
    background: var(--bg-main) !important;
    fill: grey !important;
}

#forward-button .toolbarbutton-icon {
    border: 1px solid grey !important;
    border-radius: 10000px !important;
}

#tabs-newtab-button {
    padding: 0 !important;
    background: var(--bg-tab-inactive) !important;
    border: 1px solid grey !important;
    border-bottom: none !important;
    border-left: none !important;
    margin: 0 !important;
    list-style-image: url(./newtab.svg) !important;
}

#tabs-newtab-button image {
    width: 20px !important;
    padding: 0 !important;
}
